<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="css/pages.css">
<script src="js/jquery-1.11.3.min.js"></script>
<script src="js/angular.min.js"></script> <!-- Do not include this script in index.html or it will get messed up. -->
</head>
<body>

<!-- Note: The class="hide-code" is added to each result code section so that all can be hidden except the current result code. This is in conjuction with javascript in pages.js. -->

<main id="my-result-code" ng-app="CombineModule">
<!-- applications1 -->
  <section ng-controller="MyController0" class="hide-code">
    <p>Try changing the first and last names.</p>
    <div ng-app="MyModule0" ng-controller="MyController0">
      <table>
        <tr>
          <div id="righthere"></div>
          <td>First Name:</td>
          <td><input type="text" ng-model="firstName"></td>
        </tr>
        <tr>
          <td>Last Name:</td>
          <td><input type="text" ng-model="lastName"></td>
        </tr>
      </table>
      <p>Example Sentence: <span style="color:red;">{{"My name is " + firstName + " " + lastName + "."}}</span></p>
    </div>
  </section>
<!-- applications2 -->
  <section ng-controller="MyController1" class="hide-code">
    <div ng-app="MyModule1" ng-controller="MyController1">
      <ul style="margin-left:20px; list-style-type: disc !important;">
        <li ng-repeat="x in foods">{{x}}<span style="color:red;" ng-click="removeItem($index)">&nbsp;x</span></li>
      </ul>
      <div style="width:300px;">
        <input style="margin-left:20px; width:200px" ng-model="addFood" value="Type food you want to add"><button style="position:relative; margin-top:2px;" ng-click="addItem()" onclick="resultBoxAreaAdjust()">Add Food</button>
      </div>
      <p></p>
      <p>Click the small red x to remove an item from the grocery list.</p>
    </div>
  </section>
  <!-- directives1 -->
    <section ng-controller="MyController2" class="hide-code">
      <div ng-app="MyModule2" ng-init="first.name='Dallin'">

        <p>My name is <span ng-bind="first.name"></span>.</p>

      </div>
    </section>
  <!-- applications2 -->
    <section ng-controller="MyController3" class="hide-code">
      <div ng-app="MyModule3" ng-controller="MyController3">
        <ul style="margin-left:20px; list-style-type: disc !important;">
          <li ng-repeat="x in foods">{{x}}<span style="color:red;" ng-click="removeItem($index)">&nbsp;x</span></li>
        </ul>
        <div style="width:300px;">
          <input style="margin-left:20px; width:200px" ng-model="addFood" value="Type food you want to add"><button style="position:relative; margin-top:2px;" ng-click="addItem()" onclick="resultBoxAreaAdjust()">Add Food</button>
        </div>
        <p></p>
        <p>Click the small red x to remove an item from the grocery list.</p>
      </div>
    </section>
</main>

<script src="js/angularjs.myresults.js"></script>

<!-- This script is needed so the code colors will work. -->
<script src="js/w3codecolor.js"></script>
<!-- <script>w3CodeColor();</script> The function w3CodeColor() is in page.js because it does not work here since it needs to fire after html is loaded. -->

</body>
</html>
