&lt;div ng-app="myApp" ng-controller="nameController"&gt;
  &lt;input type="text" ng-model="firstName"&gt;
  &lt;input type="text" ng-model="lastName"&gt;
  &lt;p&gt;Example Sentence:
  &lt;span style="color:red;"&gt;
  {{"My name is " + firstName + " " + lastName + "."}}
  &lt;/span&gt;
  &lt;/p&gt;
&lt;/div&gt;

&lt;script&gt;
  var app = angular.module('myApp', []);
  app.controller('nameController',
  function($scope) {
    $scope.firstName="George";
    $scope.lastName="Washington";
  });
&lt;/script&gt;
