<!-- TOPIC -->
<script>document.getElementById("header").innerHTML =
"Applications: 2"
</script>

<!-- EXPLANATION -->
<script id="applications2.explanation" language="text">
Make a Grocery List
</script>

<!-- TIDBIT -->
<script id="applications2.tidbit" language="text"
>&lt;div ng-app=&quot;myGroceryList&quot; ng-controller=&quot;controllerName&quot;&gt;
  &lt;ul&gt;
    &lt;li ng-repeat=&quot;x in foods&quot;&gt;{{x}}&lt;span ng-click=&quot;removeItem($index)&quot;&gt;&amp;nbsp;x&lt;/span&gt;&lt;/li&gt;
  &lt;/ul&gt;

  &lt;div&gt;
    &lt;input ng-model=&quot;addFood&quot; value=&quot;Type food you want to add&quot;&gt;
    &lt;button ng-click=&quot;addItem()&quot; onclick=&quot;resultBoxAreaAdjust()&quot;&gt;Add Food&lt;/button&gt;
  &lt;/div&gt;

  &lt;p&gt;Click the small red x to remove an item from the grocery list.&lt;/p&gt;
&lt;/div&gt;

&lt;script&gt;
  var app = angular.module(&apos;myGroceryList&apos;, []);
  app.controller(&apos;controllerName&apos;,
  function($scope) {
    $scope.foods=[&quot;Egg Whites&quot;, &quot;Greek Yogurt&quot;, &quot;Clementites&quot;, &quot;Boneless Chicken Breast&quot;];
    $scope.addItem = function () {
      $scope.foods.push($scope.addFood);
    }
    $scope.removeItem = function (x) {
      $scope.foods.splice(x, 1);
    }
  });
&lt;/script&gt;
</script>

<!-- TIDBIT: Unescaped String
<div ng-app="myGroceryList" ng-controller="controllerName">
  <ul>
    <li ng-repeat="x in foods">{{x}}<span ng-click="removeItem($index)">&nbsp;x</span></li>
  </ul>

  <div>
    <input ng-model="addFood" value="Type food you want to add">
    <button ng-click="addItem()" onclick="resultBoxAreaAdjust()">Add Food</button>
  </div>

  <p>Click the small red x to remove an item from the grocery list.</p>
</div>

<script>
  var app = angular.module('myGroceryList', []);
  app.controller('controllerName',
  function($scope) {
    $scope.foods=["Egg Whites", "Greek Yogurt", "Clementites", "Boneless Chicken Breast"];
    $scope.addItem = function () {
      $scope.foods.push($scope.addFood);
    }
    $scope.removeItem = function (x) {
      $scope.foods.splice(x, 1);
    }
  });
</script>
-->

<!-- MY CODE -->
<script id="applications2.mycode" language="text"
>&lt;div ng-app=&quot;myGroceryList&quot; ng-controller=&quot;controllerName&quot;&gt;

  &lt;ul class=&quot;disc&quot;&gt;
    &lt;li ng-repeat=&quot;x in foods&quot;&gt;{{x}}&lt;span style=&quot;color:red;&quot; ng-click=&quot;removeItem($index)&quot;&gt;&amp;nbsp;x&lt;/span&gt;&lt;/li&gt;
  &lt;/ul&gt;

  &lt;input style=&quot;margin-left:20px; width: 200px&quot; ng-model=&quot;addFood&quot; value=&quot;Type food you want to add&quot;&gt;&lt;button ng-click=&quot;addItem()&quot;&gt;Add Food&lt;/button&gt;

  &lt;p&gt;Click the small red x to remove an item from the grocery list.&lt;/p&gt;

&lt;/div&gt;

&lt;script&gt;
  var app = angular.module(&apos;myGroceryList&apos;, []);
  app.controller(&apos;controllerName&apos;,
  function($scope) {
    $scope.foods=[&quot;Egg Whites&quot;, &quot;Greek Yogurt&quot;, &quot;Clementites&quot;, &quot;Boneless Chicken Breast&quot;];
    $scope.addItem = function () {
      $scope.foods.push($scope.addFood);
    }
    $scope.removeItem = function (x) {
      $scope.foods.splice(x, 1);
    }
  });
&lt;/script&gt;
</script>

<!-- MY CODE: Unescaped String
<div ng-app="myGroceryList" ng-controller="controllerName">

  <ul class="disc">
    <li ng-repeat="x in foods">{{x}}<span style="color:red;" ng-click="removeItem($index)">&nbsp;x</span></li>
  </ul>

  <input style="margin-left:20px; width: 200px" ng-model="addFood" value="Type food you want to add"><button ng-click="addItem()">Add Food</button>

  <p>Click the small red x to remove an item from the grocery list.</p>

</div>

<script>
  var app = angular.module('myGroceryList', []);
  app.controller('controllerName',
  function($scope) {
    $scope.foods=["Egg Whites", "Greek Yogurt", "Clementites", "Boneless Chicken Breast"];
    $scope.addItem = function () {
      $scope.foods.push($scope.addFood);
    }
    $scope.removeItem = function (x) {
      $scope.foods.splice(x, 1);
    }
  });
</script>
-->
