&lt;div ng-app=&quot;myGroceryList&quot; ng-controller=&quot;controllerName&quot;&gt;
  &lt;ul&gt;
    &lt;li ng-repeat=&quot;x in foods&quot;&gt;{{x}}&lt;span ng-click=&quot;removeItem($index)&quot;&gt;&amp;nbsp;x&lt;/span&gt;&lt;/li&gt;
  &lt;/ul&gt;

  &lt;div&gt;
    &lt;input ng-model=&quot;addFood&quot; value=&quot;Type food you want to add&quot;&gt;
    &lt;button ng-click=&quot;addItem()&quot; onclick=&quot;resultBoxAreaAdjust()&quot;&gt;Add Food&lt;/button&gt;
  &lt;/div&gt;

  &lt;p&gt;Click the small red x to remove an item from the grocery list.&lt;/p&gt;
&lt;/div&gt;

&lt;script&gt;
  var app = angular.module(&apos;myGroceryList&apos;, []);
  app.controller(&apos;controllerName&apos;,
  function($scope) {
    $scope.foods=[&quot;Egg Whites&quot;, &quot;Greek Yogurt&quot;, &quot;Clementites&quot;, &quot;Boneless Chicken Breast&quot;];
    $scope.addItem = function () {
      $scope.foods.push($scope.addFood);
    }
    $scope.removeItem = function (x) {
      $scope.foods.splice(x, 1);
    }
  });
&lt;/script&gt;
