<!-- TOPIC -->
<script>document.getElementById("header").innerHTML =
"Applications: 1"
</script>

<!-- EXPLANATION -->
<script id="applications1.explanation" language="text">
This is about...
</script>

<!-- TIDBIT -->
<script id="applications1.tidbit" language="text"
>&lt;div ng-app="myApp" ng-controller="nameController"&gt;
  &lt;input type="text" ng-model="firstName"&gt;
  &lt;input type="text" ng-model="lastName"&gt;
  &lt;p&gt;Example Sentence:
  &lt;span style="color:red;"&gt;
  {{"My name is " + firstName + " " + lastName + "."}}
  &lt;/span&gt;
  &lt;/p&gt;
&lt;/div&gt;

&lt;script&gt;
  var app = angular.module('myApp', []);
  app.controller('nameController',
  function($scope) {
    $scope.firstName="George";
    $scope.lastName="Washington";
  });
&lt;/script&gt;
</script>

<!-- TIDBIT: Unescaped String
<div ng-app="myApp" ng-controller="nameController">
  <input type="text" ng-model="firstName">
  <input type="text" ng-model="lastName">
  <p>Example Sentence:
  <span style="color:red;">
  {{"My name is " + firstName + " " + lastName + "."}}
  </span>
  </p>
</div>

<script>
  var app = angular.module('myApp', []);
  app.controller('nameController',
  function($scope) {
    $scope.firstName="George";
    $scope.lastName="Washington";
  });
</script>
-->

<!-- MY CODE -->
<script id="applications1.mycode" language="text"
>&lt;p&gt;Try changing the first and last names.&lt;/p&gt;
&lt;div ng-app=&quot;myApp&quot; ng-controller=&quot;nameController&quot;&gt;
  &lt;table&gt;
    &lt;tr&gt;
      &lt;td&gt;First Name:&lt;/td&gt;
      &lt;td&gt;&lt;input type=&quot;text&quot; ng-model=&quot;firstName&quot;&gt;&lt;/td&gt;
    &lt;/tr&gt;
    &lt;tr&gt;
      &lt;td&gt;Last Name:&lt;/td&gt;
      &lt;td&gt;&lt;input type=&quot;text&quot; ng-model=&quot;lastName&quot;&gt;&lt;/td&gt;
    &lt;/tr&gt;
  &lt;/table&gt;
  &lt;p&gt;Example Sentence: &lt;span style=&quot;color:red;&quot;&gt;{{&quot;My name is &quot; + firstName + &quot; &quot; + lastName + &quot;.&quot;}}&lt;/span&gt;&lt;/p&gt;
&lt;/div&gt;

&lt;script&gt;
  var app = angular.module(&apos;myApp&apos;, []);
  app.controller(&apos;nameController&apos;,
  function($scope) {
    $scope.firstName=&quot;George&quot;;
    $scope.lastName=&quot;Washington&quot;;
  });
&lt;/script&gt;
</script>

<!-- MY CODE: Unescaped String
<p>Try changing the first and last names.</p>
<div ng-app="myApp" ng-controller="nameController">
  <table>
    <tr>
      <td>First Name:</td>
      <td><input type="text" ng-model="firstName"></td>
    </tr>
    <tr>
      <td>Last Name:</td>
      <td><input type="text" ng-model="lastName"></td>
    </tr>
  </table>
  <p>Example Sentence: <span style="color:red;">{{"My name is " + firstName + " " + lastName + "."}}</span></p>
</div>

<script>
  var app = angular.module('myApp', []);
  app.controller('nameController',
  function($scope) {
    $scope.firstName="George";
    $scope.lastName="Washington";
  });
</script>
-->
